<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:noNamespaceSchemaLocation="NLog.xsd"
      autoReload="true">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target xsi:type="ColoredConsole" name="console" layout="${longdate} ${uppercase:${level}} ${logger} ${message} ${exception:format=Message:maxInnerExceptionLevel=4:innerFormat=Message:innerExceptionSeparator= -> }" useDefaultRowHighlightingRules="false">
      <!--<highlight-word regex=".*" foregroundColor="Red"/>-->
      <highlight-word regex="^(\S*?\s+){2}" foregroundColor="DarkGray"/>
      <highlight-word regex="(?&lt;=^(\S*?\s+){3}).*" foregroundColor="Yellow"/>
      <highlight-word text="DEBUG" foregroundColor="DarkGray"/>
      <highlight-word text="INFO" foregroundColor="Gray"/>
      <highlight-word text="WARN" foregroundColor="Magenta"/>
      <highlight-word text="ERROR" foregroundColor="Red"/>
      <highlight-word text="FATAL" foregroundColor="Red"/>
    </target>
  </targets>

  <rules>
    <logger name="MassTransit.*" minlevel="Warn" writeTo="console" final="true"/>
    <logger name="*" minlevel="Trace" writeTo="console"/>
  </rules>
</nlog>