body
{
    margin: 20px;
    background: #FFFFf0;
}

.code
{
    border: 1px solid black;
    background: #DDDDDD;
    padding: 10px 20px;
    color: #400000;
    font-size: smaller;
    font-family: "Lucida Console" , Monaco, monospace;
}

.code b
{
    color: Black;
}

.code b a
{
    color: Black;
    text-decoration: none;
}

.code a
{
    color: #400000;
--    text-decoration: none;
}